.preview_Location {
	position: relative;
	width: 100%;
	height: 255px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media ( min-width: 780px ) {
		height: 415px;
    border-radius: 25px;
  }
	button {
		width: 24px;
		height: 24px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		@media ( min-width: 780px ) {
			height: 79px;
			width: 47px;
			i{
				font-size: 400%;
			}
		}
	}
	.picture_counter{
		position: absolute;
		display: none;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		color: #ffffff;
		font-size: 18px;
		@media ( min-width: 780px ) {
			display: flex;
		}

	}
}
