.container_home{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 20px;
  margin-top: 22px;
  margin-bottom: 27px;
  gap: 22px;
  @media ( min-width: 780px ) {
    max-width: 1240px;
  }
}